.uky_navigation-grid {

}

.uky_navigation-grid__container.container {
    padding:30px 0;

    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px; /* TODO: Get this compatible with bootstrap breakpoints */
    list-style: none;
    text-align: center;

}

.uky_navigation-grid__tile {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    background: #83a0ed;
    text-align: center;
    cursor: pointer;
}

.uky_navigation-grid__tile--2 {
    width: 48%;

}

.uky_navigation-grid__tile--3 {
    width: 31%;
}


/*.uky_navigation-grid__tile--2:nth-child(even) {*/
/*padding-right:0px;*/
/*padding-left:0;*/



/*}*/

/*.uky_navigation-grid__tile--2:nth-child(odd) {*/
/*padding-right:30px;*/
/*padding-left:0;*/
/*}*/




.uky_navigation-grid__tile-link {
    outline: none;
    color: #2453db;
    text-decoration: none;
}

.uky_navigation-grid__tile-image {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.uky_navigation-grid__tile-caption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.uky_navigation-grid__tile-caption:before,
.uky_navigation-grid__tile-caption:after {
    pointer-events: none;
}


.uky_navigation-grid__tile-caption,
.uky_navigation-grid__tile-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.uky_navigation-grid__tile-link {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}


.uky_navigation-grid__tile--lilly .uky_navigation-grid__tile-image {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0, 0);
    transform: translate3d(-40px,0,0);
}

.uky_navigation-grid__tile--lilly .uky_navigation-grid__tile-caption {
    text-align: left;
}

.uky_navigation-grid__tile--lilly .uky_navigation-grid__tile-caption > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 50%;
}

.uky_navigation-grid__tile--lilly .uky_navigation-grid__tile-heading,
.uky_navigation-grid__tile--lilly .uky_navigation-grid__tile-description {
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

.uky_navigation-grid__tile--lilly .uky_navigation-grid__tile-heading {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.uky_navigation-grid__tile--lilly .uky_navigation-grid__tile-description {
    color: rgba(255,255,255,0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

.uky_navigation-grid__tile--lilly:hover .uky_navigation-grid__tile-image,
.uky_navigation-grid__tile--lilly:hover .uky_navigation-grid__tile-description {
    opacity: 1;
}

.uky_navigation-grid__tile--lilly:hover .uky_navigation-grid__tile-image,
.uky_navigation-grid__tile--lilly:hover .uky_navigation-grid__tile-heading,
.uky_navigation-grid__tile--lilly:hover.uky_navigation-grid__tile-description {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.uky_navigation-grid__tile--lilly:hover .uky_navigation-grid__tile-description {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}


